.burger-menu {
  min-height: 142px;
  padding: 41px 0 38px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}