.header__info {
  padding-top: 3px;
  box-sizing: border-box;

  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__info {
    padding-top: 2px;
  
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }
}