.profile__avatar-link {
  margin-right: 30px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  position: relative;
}

.profile__avatar-link::after {
  content: '';
  width: 102%;
  height: 102%;
  border-radius: 50%;

  position: absolute;
  top: -1%;
  left: -1%;
  z-index: 1;

  background: rgba(0, 0, 0, 0.8)  url('../../../images/profile/edit.svg') no-repeat center;
  background-size: 26px 26px;
  opacity: 0;

  transition: opacity .2s ease;
}

.profile__avatar-link:hover::after {
  opacity: 1;
}

@media screen and (max-width: 645px) {
  .profile__avatar-link {
    margin-right: 0;
  }
}
